<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스파르타코딩클럽 | 새가 날아든다</title>

    <link rel="shortcut icon" href="/static/images/favicon.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            getBook();
        })

        let thumbnail = ''
        let title = ''
        let authors = ''
        let publisher = ''
        let date = ''
        let isbn = ''

        function getBook() {
            $.ajax({
                type: "GET",
                url: "https://dapi.kakao.com/v3/search/book?target=isbn&sort=accuracy&page=1&size=50&query={{isbn}}",
                data: {},
                headers: {Authorization: "KakaoAK 8a66864513180bddba040cc373ab421b"},
                success: function (response) {

                    let document = response["documents"][0];
                    thumbnail = document.thumbnail
                    title = document.title
                    authors = document.authors
                    publisher = document.publisher
                    date = document.datetime.split('T')[0]
                    isbn = document.isbn

                    let tempHtml = `<img src="${document.thumbnail}" class="card-img-top"
                                    alt="A generic square placeholder image with rounded corners in a figure.">
                                    <figcaption class="figure-caption">${document.title}</figcaption>
                                    <figcaption class="figure-caption">${document.authors}</figcaption>
                                    <figcaption class="figure-caption">${document.publisher}</figcaption>
                                    <figcaption class="figure-caption">${document.datetime.split('T')[0]}</figcaption>
                                    <figcaption class="figure-caption">${document.isbn}</figcaption>`;
                    $("#book-box").append(tempHtml);
                    getMessages();
                }
            });
        }

        function getMessages() {
            $('#cards-box').empty();
            $.ajax({
                type: "GET",
                url: "/sentences?isbn_give=" + isbn,
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        let sentences = response['sentences'];
                        for (let i = 0; i < sentences.length; i++) {
                            let sentence = sentences[i];
                            let key = sentence['key'];
                            let page = sentence['page'];
                            let content = sentence['content'];
                            let created_at = sentence['created_at'];
                            addHTML(key, page, content, created_at);
                        }
                    } else {
                        alert('메시지를 불러오는데 실패했습니다.');
                    }
                }
            });
        }

        function addHTML(key, page, content, created_at) {
            let tempHtml = makeMessage(key, page, content, created_at);
            console.log(tempHtml)
            $('#cards-box').append(tempHtml);
        }

        function makeMessage(key, page, content, created_at) {
            return `<div class="card custom-card">
                        <div class="card-body">
                            <input id="${key}-input" class="area-edit" value="${page}"/>
                            <textarea id="${key}-textarea" class="area-edit" cols="80">${content}</textarea>
                            <h5 id="${key}-contents" class="card-title">${content}</h5>
                            <h6 id="${key}-username"class="card-subtitle mb-2 text-muted">P.${page}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">${created_at}</h6>
                        </div>
                        <footer class="card-footer">
                            <a id="${key}-edit" href="#" class="card-footer-item" onclick="showEdit('${key}')">수정</a>
                            <a id="${key}-delete" href="#" class="card-footer-item" onclick="deleteEdit('${key}')">삭제</a>
                            <a id="${key}-cancel" href="#" class="card-footer-item area-edit" onclick="hideEdit('${key}')">취소</a>
                            <a id="${key}-submit" href="#" class="card-footer-item area-edit" onclick="submitEdit('${key}')">수정완료</a>
                        </footer>
                    </div>`;
        }

        function writePost() {
            $.ajax({
                type: "POST",
                url: "/booksave",
                data: {
                    thumbnail_give: thumbnail,
                    title_give: title,
                    authors_give: authors,
                    publisher_give: publisher,
                    datetime_give: date,
                    isbn_give: isbn,
                    page_give: $('#pageWrite').val(),
                    contents_give: $('#contents').val(),
                },
                success: function () {
                    alert('저장되었습니다.')
                    location.reload()
                }
            })
        }

        function openclose() {
            let status = $('#post-box').css('display');
            if (status == 'block') {
                $('#post-box').hide();
            } else {
                $('#post-box').show();
            }
        }

        function showEdit(key) {
            $(`#${key}-textarea`).show();
            $(`#${key}-input`).show();
            $(`#${key}-submit`).show();
            $(`#${key}-cancel`).show();

            $(`#${key}-contents`).hide();
            $(`#${key}-edit`).hide();
            $(`#${key}-delete`).hide();
        }

        function hideEdit(key) {
            $(`#${key}-textarea`).hide();
            $(`#${key}-input`).hide();
            $(`#${key}-submit`).hide();
            $(`#${key}-cancel`).hide();

            $(`#${key}-contents`).show();
            $(`#${key}-edit`).show();
            $(`#${key}-delete`).show();
        }

        function submitEdit(key) {
            let content = $(`#${key}-textarea`).val();
            let page = $(`#${key}-input`).val();

            $.ajax({
                type: "POST",
                url: "/booksave/edit",
                data: {key_give: key, page_give: page, content_give: content, isbn_give: isbn},
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert(response['msg']);
                        window.location.reload();
                    } else {
                        alert('변경에 실패했습니다.');
                    }
                }
            });
        }

        function deleteEdit(key) {
            if (confirm("정말 삭제하시겠습니까?") == true) {
                delete_contents(key)
            } else {
                return false;
            }
        }


        function delete_contents(key) {
             $.ajax({
                    type: "POST",
                    url: "/booksave/delete",
                    data: {key_give: key},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert('삭제되었습니다');
                            window.location.reload();
                        }
                    }
                });
        }


        function backSpace() {
            location.href = "bookadd1"
        }

    </script>

    <style>
        .area-edit {
            display: none;
        }

        .wrap {
            width: 700px;
            margin: 10px auto;
        }

        #contents {
            width: 700px;
        }

        .area-write {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
        }

        .custom-card {
            margin: 20px 0 20px 0;
        }

        #post-box {
            display: none;
        }
    </style>
</head>

<body>
<button onclick="backSpace()" type="button">← 책 검색</button>
<div class="wrap">
    <figure class="figure" id="book-box">

    </figure>
    <div class="header">
        <p>
            <button onclick="openclose()" type="button" class="btn btn-outline-info btn-sm">밑줄</button>
            은 내가 책에서 발췌한 부분을 저장하는 곳 입니다. 다른 사람들에게 공유가 됩니다.
        </p>
    </div>
    <div id="post-box">
        <input type="text" id="pageWrite" placeholder="책 페이지 입력하기"
               onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
        <div class="area-write">
            <textarea placeholder="공유할 문구 입력하기" name="contents" id="contents" cols="30" rows="10"></textarea>
            <button class="btn btn-danger" onclick="writePost()">작성하기</button>
        </div>
    </div>
    <div id="cards-box" class="area-read">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Component
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                        <span class="icon">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                </a>
            </header>
            <div class="card-content">
                <div class="content">
                    <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                    <br>
                    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
            </div>
            <footer class="card-footer">
                <a href="#" class="card-footer-item">Save</a>
                <a href="#" class="card-footer-item">Edit</a>
                <a href="#" class="card-footer-item">Delete</a>
            </footer>
        </div>
    </div>
</div>
</body>

</html>