<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:title" content="오늘의 책(Today's Book)"/>
    <meta property="og:description" content="책에 친 밑줄을 매일 보자"/>
    <meta property="og:image" content="{{ url_for('static', filename='sample.JPG') }}"/>
    <meta http-equiv="refresh" content="1;url=main">
    <title>오늘의 책 | TODAY's BOOK</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style type="text/css">
        html {
            background-color: #010048;
        }

        h1,h2 {
            background-color: #010048;
            color: white;
            text-align: center;
            vertical-align: middle;
        }

    </style>
    <script>


    </script>
</head>
<body>
<h1>오늘의 책</h1>
<h2>TODAY's BOOK</h2>
</body>
</html>