<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:title" content="오늘의 책(Today's Book)"/>
    <meta property="og:description" content="책에 친 밑줄을 매일 보자"/>
    <meta property="og:image" content="{{ url_for('static', filename='sample.JPG') }}"/>
    <title>오늘의 책 | TODAY's BOOK</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style type="text/css">

        html {
            background-color: #010048;
        }

        .center-card {
            background-color: #010048;
            color: white;
            text-align: center;
            vertical-align: middle;
        }

        .align-self-center {
            text-align: center;
            color: white;

    </style>
    <script>

        // function copy() {
        //     let copy =
        // }


        function library() {
            location.href = "library"
        }


        $(document).ready(function ({i}) {
            $('#book-title').empty();
            $('#book-page').empty();
            $('#book-contents').empty();
            $.ajax({
                type: "GET",
                url: "/print",
                data: {},
                success: function (response) {
                    let book = response["books"];
                    makeCard(book[{i}]["title"], book[{i}]["page"], book[{i}]["contents"])
                }
            })
        })


        function makeCard(title, page, contents) {
            $('#book-title').append(title);
            $('#book-page').append(page);
            $('#book-contents').append(contents);
        }


        function copyText() {
            $('#book-contents').select();
                document.execCommand("copy");
                alert('복사되었습니다')
        }

    </script>
</head>
<body>
<div class="wrap">
    <div id="book-title">
    </div>
    <div id="book-page">
    </div>
    <div id="book-contents">
    </div>
    <div class="menu">
        <button type="image" id="copy" src="" onclick="copyText()">copy</button>
        <button id="search" onclick="library()">menu</button>
    </div>
</div>

</body>
</html>