<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Webpage Title -->
    <title>오늘의 책 | TODAY's BOOK</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">

    <script type="text/javascript">


        $(function search() {
            $.ajax({
                type: "GET",
                url: "https://dapi.kakao.com/v3/search/book?target=isbn&sort=accuracy&page=1&size=50&query={{isbn}}",
                data: {},
                headers: {Authorization: "KakaoAK 8a66864513180bddba040cc373ab421b"}
            })
                .done(function (msg) {
                    $("#cards-box").empty();
                    let documents = msg["documents"];
                    let document = documents[0];
                    let tempHtml = `<div class="card">
                                <img class="card-img-top" src="${document.thumbnail}" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-title">${document.title}</p>
                                    <p class="card-text authors">${document.authors}</p>
                                    <p class="card-text publisher">${document.publisher}</p>
                                    <p class="card-text datetime">${document.datetime.split('T')[0]}</p>
                                    <p class="card-text isbn" style="display:none">${document.isbn}</p>
                                </div>
                            </div>`;
                    $("#cards-box").append(tempHtml);
                })
        })


        function backSpace() {
            location.href = "bookadd2"
        }

        function addBook() {
            $('#addBook').show();

        }

        function save() {
            location.href = "bookadd4"
        }

        $(document).ready(function () {

            $("#popOpenBtn").click(function (event) {  //팝업 Open 버튼 클릭 시

                $("#popupDiv").css({
                    "top": (($(window).height() - $("#popupDiv").outerHeight()) / 2 + $(window).scrollTop()) + "px",
                    "left": (($(window).width() - $("#popupDiv").outerWidth()) / 2 + $(window).scrollLeft()) + "px"
                    //팝업창을 가운데로 띄우기 위해 현재 화면의 가운데 값과 스크롤 값을 계산하여 팝업창 CSS 설정

                });

                $("#popup_mask").css("display", "block"); //팝업 뒷배경 display block
                $("#popupDiv").css("display", "block"); //팝업창 display block

                $("body").css("overflow", "hidden");//body 스크롤바 없애기
            });

            $("#popCloseBtn").click(function (event) {
                $("#popup_mask").css("display", "none"); //팝업창 뒷배경 display none
                $("#popupDiv").css("display", "none"); //팝업창 display none
                $("body").css("overflow", "auto");//body 스크롤바 생성
            });
        });

    </script>

    <style type="text/css">
        * {
            font-family: "Do Hyeon", sans-serif;
        }

        #popupDiv { /* 팝업창 css */
            top: 0px;
            position: absolute;
            background: white;
            width: 500px;
            height: 500px;
            display: none;
        }

        #popup_mask { /* 팝업 배경 css */
            position: fixed;
            width: 100%;
            height: 1000px;
            top: 0px;
            left: 0px;
            display: none;
            background-color: #000;
            opacity: 0.8;
        }

    </style>
</head>

<body>
<button onclick="backSpace()" type="button">← 문구 공유</button>
<button id="addBook" onclick="addBook()" type="button">등록하기</button>

<div>
    <p></p>
</div>
<div>
    <button id="popOpenBtn" onclick="popup()">책 페이지를 적어주세요</button>
    <div id="popup_mask"></div>
    <div id="popupDiv">
        <h3>책 페이지 입력하기</h3>
        <input type="text" id="pageWrite" placeholder="####"></input>
        <button id="popCloseBtn">확인</button>
    </div>
</div>
<div>
    <input type="comment" placeholder="공유할 문구를 적어주세요"></input>
</div>
</body>

</html>