<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Webpage Title -->
    <title>오늘의 책 | TODAY's BOOK</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">

    <script type="text/javascript">
        $(function () {
            $("#search").click(function () {
                $.ajax({
                    type: "GET",
                    url: "https://dapi.kakao.com/v3/search/book?target=title&sort=accuracy&page=1&size=50&query=" + $("#bookName").val(),
                    data: {},
                    headers: {Authorization: "KakaoAK 8a66864513180bddba040cc373ab421b"}
                })
                    .done(function (msg) {
                        let documents = msg["documents"];
                        for (let i = 0; i < msg.documents.length; i++) {
                            let document = documents[i];
                            makeCard(article["image"], article["url"], article["title"], article["desc"], article["comment"]);
                        }
                    }

                // $("card-img-top").append("<img src='" + msg.documents[i].thumbnail + "'>");
                // $("p").append("<strong>" + msg.documents[i].title + "</strong>");
                // $("p").append("<strong>" + msg.documents[i].authors + "</strong>");
                // $("p").append("<strong>" + msg.documents[i].publisher + "</strong>");
                // $("p").append("<strong>" + msg.documents[i].datetime + "</strong>");
            });
        }
        })

        function enterkey() {
            if (window.event.keyCode == 13) {
                $("#search").click();
            }
        }


        function backSpace() {
            location.href = "main.html"
        }
    </script>

    <style type="text/css">
        * {
            font-family: "Do Hyeon", sans-serif;
        }

    </style>
</head>

<body>
<button onclick="backSpace()" type="button">← 책 추가</button>

<div class="bookSearch">
    <input id="bookName" type="text" onkeyup="enterkey()" placeholder="검색어를 입력하세요">
    <button id="search">검색</button>
    <p>
        <div class="card-columns">
            <div class="card">
                <img class="card-img-top" id="card-img-top" src="msg.documents[i].thumbnail" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">msg.documents[i].title</h5>
    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>
</div>
</div>

</p>
</div>

</body>

</html>
